In [1]:
import pandas as pd

# æ•°æ®å¤„ç†
+ é”™çš„æ•°æ®è¢«å«åšè„æ•°æ®
+ å™ªå£°æ•°æ®ï¼šç‰¹åˆ«å¤§æˆ–ç‰¹åˆ«å°çš„æ•°æ®
+ ç¼ºå¤±å€¼:é‡‡é›†æºæ²¡æœ‰ï¼Œæ²¡é‡‡é›†åˆ°çš„
+ é‡å¤æ•°æ®
+ æ•°æ®å˜æ¢ï¼šæ–‡æœ¬>æ•°å€¼

## å™ªå£°æ•°æ®

In [2]:
df=pd.DataFrame([1,2,3,4,100])
df

     0
0    1
1    2
2    3
3    4
4  100

In [3]:
df>99#å¯»æ‰¾

       0
0  False
1  False
2  False
3  False
4   True

In [4]:
df[df>99]=6
df#ä¿®æ”¹

   0
0  1
1  2
2  3
3  4
4  6

## ç¼ºå¤±æ•°æ®

### å¡«å……

In [5]:
import numpy as np

In [6]:
df=pd.DataFrame(
{
    'a':[1,np.nan,2,3],
    'b':[4,np.nan,2,1],
    'c':[np.nan,np.nan,np.nan,np.nan]
},
index=[2,0,1,3])
df

     a    b   c
2  1.0  4.0 NaN
0  NaN  NaN NaN
1  2.0  2.0 NaN
3  3.0  1.0 NaN

In [7]:
#å¡«å……ä¸€ä¸ªæ•°
df.fillna(value=9,
          inplace=True)
df

     a    b    c
2  1.0  4.0  9.0
0  9.0  9.0  9.0
1  2.0  2.0  9.0
3  3.0  1.0  9.0

In [8]:
#ç›¸é‚»æ•°æ®å¡«å……
df.fillna(method='bfill')#ffill bfillåº”è¯¥åˆ†åˆ«å¯¹åº”ç”¨ä¸‹æ–¹æ•°æ®å¡«å……å’Œç”¨ä¸Šæ–¹æ•°æ®å¡«å……

     a    b    c
2  1.0  4.0  9.0
0  9.0  9.0  9.0
1  2.0  2.0  9.0
3  3.0  1.0  9.0

### åˆ é™¤

In [9]:
df.dropna(axis=0,#ç¼–å·ä¸º0çš„é‚£ä¸€è¡Œ
         how='any',
         subset=['a','b'])

     a    b    c
2  1.0  4.0  9.0
0  9.0  9.0  9.0
1  2.0  2.0  9.0
3  3.0  1.0  9.0

## é‡å¤æ•°æ®

In [10]:
df=pd.DataFrame({'one':[0,0,2,3],
    'two':[0,0,6,6],
    'three':[0,0,6,6],
    'four':[0,1,2,3],},
    index=['b','c','c','e'])
df

   one  two  three  four
b    0    0      0     0
c    0    0      0     1
c    2    6      6     2
e    3    6      6     3

### åˆ¤æ–­é‡å¤æ•°æ®

In [11]:
#ä¸€åˆ—
df['one'].duplicated()#åˆ¤æ–­é‚£ä¸€åˆ—çš„é‡å¤ï¼Œç¬¬ä¸€ä¸ªå‡ºç°ä¸ç®—ï¼Œç¬¬äºŒæ¬¡å‡ºç°trueæç¤ºé‡å¤

b    False
c     True
c    False
e    False
Name: one, dtype: bool

In [12]:
#ä¸€åˆ—
df['one'].duplicated().sum()#sumåˆ¤æ–­é‡å¤æ•°é‡

1

In [13]:
df[['two','one']].duplicated()#åˆ¤æ–­ä¸¤åˆ—çš„é‡å¤æƒ…å†µ

b    False
c     True
c    False
e    False
dtype: bool

### åˆ é™¤é‡å¤æ•°æ®

In [14]:
df.drop_duplicates(subset=['one','two'],
                  keep='last',#é»˜è®¤ä¿ç•™ç¬¬ä¸€ä¸ªï¼Œè®¾ç½®æˆä¿ç•™æœ€åä¸€ä¸ª
                  inplace=True)

In [15]:
df

   one  two  three  four
c    0    0      0     1
c    2    6      6     2
e    3    6      6     3

## æ•°æ®åˆ†ç®±

In [16]:
data=[80,55,60.73,99,83,28,9,3,4,2,66,1]
cut_stan=[0,18,24,30,60,100]#æŒ‡å®šé—´è·

In [17]:
ans=pd.cut(data,bins=cut_stan,
      right=False,#è°ƒæ•´åŒºé—´æ ‡ç‚¹
       labels=['æœªæˆå¹´','å¤§å­¦ç”Ÿ','å•èº«æ±‰','é’å£®å¹´','è€å¹´äºº']
      )

In [18]:
ans

['è€å¹´äºº', 'é’å£®å¹´', 'è€å¹´äºº', 'è€å¹´äºº', 'è€å¹´äºº', ..., 'æœªæˆå¹´', 'æœªæˆå¹´', 'æœªæˆå¹´', 'è€å¹´äºº', 'æœªæˆå¹´']
Length: 12
Categories (5, object): ['æœªæˆå¹´' < 'å¤§å­¦ç”Ÿ' < 'å•èº«æ±‰' < 'é’å£®å¹´' < 'è€å¹´äºº']

In [19]:
ans.categories#æŸ¥çœ‹åˆ†ç±»ä¿¡æ¯

Index(['æœªæˆå¹´', 'å¤§å­¦ç”Ÿ', 'å•èº«æ±‰', 'é’å£®å¹´', 'è€å¹´äºº'], dtype='object')

In [20]:
ans.codes#å±äºç¬¬å‡ ä¸ªåˆ†ç±»

array([4, 3, 4, 4, 4, 2, 0, 0, 0, 0, 4, 0], dtype=int8)

In [21]:
ans=pd.cut(data,
          bins=5,#ç­‰é—´è·,ä¼šè‡ªå·±æ ¹æ®æ•°å€¼è®¡ç®—åˆ†çš„æ¨¡å—çš„é—´è·å¤§å°
          )

In [22]:
ans

[(79.4, 99.0], (40.2, 59.8], (59.8, 79.4], (79.4, 99.0], (79.4, 99.0], ..., (0.902, 20.6], (0.902, 20.6], (0.902, 20.6], (59.8, 79.4], (0.902, 20.6]]
Length: 12
Categories (5, interval[float64]): [(0.902, 20.6] < (20.6, 40.2] < (40.2, 59.8] < (59.8, 79.4] < (79.4, 99.0]]

In [23]:
pd.qcut(data,q=3).codes#å‘Šè¯‰ä»–åˆ†æˆä¸‰ä¸ªéƒ¨åˆ†

array([2, 1, 1, 2, 2, 1, 1, 0, 0, 0, 2, 0], dtype=int8)

## æ–‡æœ¬æ•°æ®è½¬æ¢

In [24]:
#å› ä¸ºä¸æ”¯æŒä¸­æ–‡

### è½¬æ›¿ä»£æ•°æ®

In [25]:
df1=pd.DataFrame({'èŒä¸š':['å·¥äºº','å­¦ç”Ÿ','å¸æœº','æ•™å¸ˆ','å¯¼æ¸¸']})
df1

   èŒä¸š
0  å·¥äºº
1  å­¦ç”Ÿ
2  å¸æœº
3  æ•™å¸ˆ
4  å¯¼æ¸¸

In [26]:
dict1={item:i for i,item in enumerate(df1['èŒä¸š'])}#åšä¸€ä¸ªå­—å…¸
dict1

{'å·¥äºº': 0, 'å­¦ç”Ÿ': 1, 'å¸æœº': 2, 'æ•™å¸ˆ': 3, 'å¯¼æ¸¸': 4}

In [27]:
df1['New_job_name']=df1['èŒä¸š'].map(dict1)#å°†å­—å…¸è½¬åŒ–å›è¡¨æ ¼ä¸”å¤šåŠ ä¸€è¡Œè®²è§£
df1

   èŒä¸š  New_job_name
0  å·¥äºº             0
1  å­¦ç”Ÿ             1
2  å¸æœº             2
3  æ•™å¸ˆ             3
4  å¯¼æ¸¸             4

In [28]:
df1

   èŒä¸š  New_job_name
0  å·¥äºº             0
1  å­¦ç”Ÿ             1
2  å¸æœº             2
3  æ•™å¸ˆ             3
4  å¯¼æ¸¸             4

### å“‘å˜é‡å¤„ç†

In [29]:
pd.get_dummies(df1['èŒä¸š'],
              prefix='ğŸ˜Š',
              prefix_sep='^')#æ˜¯ä¸º1 ä¸æ˜¯ä¸º0 å¥½çœ‹å‡ºæ¥

   ğŸ˜Š^å¸æœº  ğŸ˜Š^å­¦ç”Ÿ  ğŸ˜Š^å¯¼æ¸¸  ğŸ˜Š^å·¥äºº  ğŸ˜Š^æ•™å¸ˆ
0     0     0     0     1     0
1     0     1     0     0     0
2     1     0     0     0     0
3     0     0     0     0     1
4     0     0     1     0     0

# åˆå¹¶æ•°æ®

## æŒ‰é”®ï¼ˆè¡Œåˆ—ç´¢å¼•ï¼‰åˆå¹¶

In [30]:
df1=pd.DataFrame({'first':[2,3,8],
                'second':[4,5,6]},
               index=['aa','b','c'])

In [31]:
df2=pd.DataFrame({'second':[6,5,8],
                'third':[17,18,19]},
               index=['b','c','aa'])#æ•°æ®ç±»è¡Œåˆ—ç´¢å¼•åˆ«é‡å¤

In [32]:
#å¯ä»¥çœ‹åˆ°è¡Œç´¢å¼•ä¸€æ ·ï¼Œæ‰€ä»¥å¯ä»¥åˆå¹¶
all_data=pd.concat([df1,df2],
         join='inner',#æŒ‡å®šæ•°æ®ä¿ç•™äº¤é›†è¿˜æ˜¯å¹¶é›†
         axis=1#é»˜è®¤æŒ‰åˆ—æ‹¼ï¼Œè°ƒæ•´ä¸ºæŒ‰è¡Œæ‹¼
         )

In [33]:
df1.append(df2)#äº†è§£å³å¯

    first  second  third
aa    2.0       4    NaN
b     3.0       5    NaN
c     8.0       6    NaN
b     NaN       6   17.0
c     NaN       5   18.0
aa    NaN       8   19.0

## æŒ‰å€¼åˆå¹¶

In [34]:
df1=pd.DataFrame({'first':[2,3,8],
                'second':[4,5,6]},
               index=['aa','aa','c'])

df2=pd.DataFrame({'second':[6,5,8],
                'third':[17,8,19]},
               index=['b','c','aa'])

In [35]:
pd.merge(df1,df2)#é»˜è®¤æ±‚äº¤é›†

   first  second  third
0      3       5      8
1      8       6     17

In [36]:
pd.merge(df1,df2,how='outer')
#ç”¨howæ¥ä¿®æ”¹ outerä¿ç•™æ‰€æœ‰æ•°æ® innerä¿ç•™äº¤é›†ï¼ˆæ²¡ç©ºçš„ï¼‰ leftä¿ç•™å®Œæ•´1 rightä¿ç•™å®Œæ•´2

   first  second  third
0    2.0       4    NaN
1    3.0       5    8.0
2    8.0       6   17.0
3    NaN       8   19.0

In [37]:
#on='first' å¤šç›¸åŒåˆ—æ˜ï¼ŒæŒ‡å®šå…¶ä¸­ä¸€ä¸ª,1æ”¾1ä¸‹é¢ï¼Œå¤šçš„3æ”¾åé¢;ä¼šè‡ªåŠ¨è¡¥é½åç¼€
#suffixes=('')ä¿®æ”¹åˆ—æ˜åç¼€

In [38]:
pd.merge(df1,df2,
         how='outer',
         left_on='first',
         right_on='second',
         suffixes=('_df1','_df2'),)

   first  second_df1  second_df2  third
0    2.0         4.0         NaN    NaN
1    3.0         5.0         NaN    NaN
2    8.0         6.0         8.0   19.0
3    NaN         NaN         6.0   17.0
4    NaN         NaN         5.0    8.0

In [39]:
pd.merge(df1,df2,
         how='outer',
         on='second',
         suffixes=('_df1','_df2'))

   first  second  third
0    2.0       4    NaN
1    3.0       5    8.0
2    8.0       6   17.0
3    NaN       8   19.0

# groupby

In [40]:
data=pd.read_excel('Excelæ•°æ®.xlsx')
data

      è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº   åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
0   10240 2009-01-02   å¼ ä¸‰  ååŒ—   åŒ—äº¬  å¥¥å…‹æ–¯  1200      4   4800
1   10241 2009-01-03   æå››  ååŒ—   åŒ—äº¬   æ ¼åŠ›  1300      5   6500
2   10242 2009-01-13   é’±äº”  ååŒ—   åŒ—äº¬   ç¾çš„  1250      6   7500
3   10243 2009-01-14   èµµå…­  ååŒ—   åŒ—äº¬   æ˜¥å…°  1500      3   4500
4   10244 2009-01-25   åˆ˜ç¦  ååŒ—  çŸ³å®¶åº„   æµ·å°”  1500      5   7500
..    ...        ...  ...  ..  ...  ...   ...    ...    ...
94  10334 2009-11-25   ç‹å¨œ  è¥¿å—   æˆéƒ½  å¥¥å…‹æ–¯  1501      7  10507
95  10335 2009-12-01   åˆ˜å®‡  è¥¿å—   æˆéƒ½   æ ¼åŠ›  1400      2   2800
96  10336 2009-12-12   é™ˆç¬‘  è¥¿å—   æˆéƒ½   å¿—é«˜  1400      9  12600
97  10337 2009-12-23   æ±ªä¿Š  è¥¿å—   æ˜†æ˜   æ˜¥å…°  1200      3   3600
98  10338 2009-12-26   é½æ˜“  è¥¿å—   æ˜†æ˜  å¥¥å…‹æ–¯  1200      5   6000

[99 rows x 9 columns]

In [41]:
for i in data.groupby(by=['åœ°åŒº']):#æŒ‰ç…§æŒ‡å®šåˆ—ï¼Œåˆ†æˆå°æ•°æ®
    print(i)
    print('*'*80)

('ä¸œåŒ—',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº   åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
51  10291 2009-06-24   å¤§å†›  ä¸œåŒ—  å“ˆå°”æ»¨  å¥¥å…‹æ–¯  1200      5   6000
52  10292 2009-06-25   å°è‰  ä¸œåŒ—  å“ˆå°”æ»¨   æ ¼åŠ›  1300      3   3900
53  10293 2009-06-26   ä¸‡è¥¿  ä¸œåŒ—  å“ˆå°”æ»¨   ç¾çš„  1250      4   5000
54  10294 2009-07-04   å½¤å½¤  ä¸œåŒ—  å“ˆå°”æ»¨   æ˜¥å…°  1500      5   7500
55  10295 2009-07-05   æµ·åˆ©  ä¸œåŒ—   æ²ˆé˜³   æµ·å°”  1500      6   9000
56  10296 2009-07-06   å…¨åœˆ  ä¸œåŒ—   æ²ˆé˜³   ç¾çš„  1400      3   4200
57  10297 2009-07-07   æ³‰æ¸…  ä¸œåŒ—   æ²ˆé˜³   ç¾çš„  1401      5   7005
76  10316 2009-09-14   é’é’  ä¸œåŒ—   é•¿æ˜¥   æ¾ä¸‹  1500      9  13500
77  10317 2009-09-15   å°å¨Ÿ  ä¸œåŒ—   é•¿æ˜¥   å¿—é«˜  1400      9  12600
78  10318 2009-09-16   æå¨œ  ä¸œåŒ—   é•¿æ˜¥   æ˜¥å…°  1200      3   3600
79  10319 2009-09-17   å°è‰  ä¸œåŒ—  å“ˆå°”æ»¨  å¥¥å…‹æ–¯  1200      5   6000
80  10320 2009-09-18   ä¸‡è¥¿  ä¸œåŒ—  å“ˆå°”æ»¨   æ ¼åŠ›  1200      8   9600
81  10321 2009-09-19   å½¤å½¤  ä¸œåŒ—  å“ˆå°”æ»¨   å¿—é«˜  1000      5   5000
82  10322 2009-10-13   æ³‰æ¸…  ä¸œåŒ—   æ²ˆé˜³  å¥¥å…‹æ–¯  1200      6   7200)
********************************************************************************
('åä¸œ',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº  åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
37  10277 2009-05-18   é¥¶ä¼Ÿ  åä¸œ  ä¸Šæµ·   æ ¼åŠ›  1200     14  16800
38  10278 2009-05-19   æä¹  åä¸œ  ä¸Šæµ·  å¥¥å…‹æ–¯  1300      4   5200
39  10279 2009-05-20   è°¢ä¹  åä¸œ  ä¸Šæµ·   å¿—é«˜  1000      2   2000
40  10280 2009-05-21   æäºŒ  åä¸œ  ä¸Šæµ·   ç¾çš„  1350      5   6750
41  10281 2009-05-26   å‘¨ä¸€  åä¸œ  è‹å·   æ˜¥å…°  1200      4   4800
42  10282 2009-05-29   è‰¾å¥‡  åä¸œ  è‹å·   æ¾ä¸‹  1200     11  13200
43  10283 2009-06-04   å°æ˜  åä¸œ  è‹å·   æ¾ä¸‹  1500      8  12000
44  10284 2009-06-05   æŸ³ç´  åä¸œ  è‹å·   æ˜¥å…°  1500      1   1500
58  10298 2009-07-08   è§é€¸  åä¸œ  æ­å·   æ˜¥å…°  1500      6   9000
59  10299 2009-07-09   èŒƒä¼Ÿ  åä¸œ  æ­å·   æµ·å°”  1500      3   4500
60  10300 2009-07-14   å‘¨å¤©  åä¸œ  æ­å·   ç¾çš„  1400      2   2800
61  10301 2009-07-18   è‰¾çº¢  åä¸œ  æ­å·   æ ¼åŠ›  1200      4   4800
62  10302 2009-07-22   é¥¶ä¼Ÿ  åä¸œ  ä¸Šæµ·   ç¾çš„  2000      4   8000
63  10303 2009-08-26   æä¹  åä¸œ  ä¸Šæµ·   æ¾ä¸‹  2100      2   4200
64  10304 2009-08-01   è°¢ä¹  åä¸œ  ä¸Šæµ·  å¥¥å…‹æ–¯  1200      4   4800
65  10305 2009-08-08   æäºŒ  åä¸œ  ä¸Šæµ·   æ ¼åŠ›  1200     11  13200)
********************************************************************************
('åä¸­',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº  åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
30  10270 2009-04-23   æˆ´å…°  åä¸­  æ­¦æ±‰  å¥¥å…‹æ–¯  1200      2   2400
31  10271 2009-04-28   è‚–è§  åä¸­  æ­¦æ±‰   æ ¼åŠ›  1200      4   4800
32  10272 2009-05-03   å‘¨å¨‡  åä¸­  æ­¦æ±‰   ç¾çš„  1400      2   2800
33  10273 2009-05-04   å‘¨å†›  åä¸­  æ­¦æ±‰   æ ¼åŠ›  1200      2   2400
34  10274 2009-05-05   è°¢å‹  åä¸­  é•¿æ²™   ç¾çš„  2000      4   8000
35  10275 2009-05-12   è‰¾ç³  åä¸­  é•¿æ²™   æ¾ä¸‹  2100     11  23100
36  10276 2009-05-17   ç‹èŠ³  åä¸­  é•¿æ²™  å¥¥å…‹æ–¯  1200      8   9600)
********************************************************************************
('ååŒ—',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº   åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
0   10240 2009-01-02   å¼ ä¸‰  ååŒ—   åŒ—äº¬  å¥¥å…‹æ–¯  1200      4   4800
1   10241 2009-01-03   æå››  ååŒ—   åŒ—äº¬   æ ¼åŠ›  1300      5   6500
2   10242 2009-01-13   é’±äº”  ååŒ—   åŒ—äº¬   ç¾çš„  1250      6   7500
3   10243 2009-01-14   èµµå…­  ååŒ—   åŒ—äº¬   æ˜¥å…°  1500      3   4500
4   10244 2009-01-25   åˆ˜ç¦  ååŒ—  çŸ³å®¶åº„   æµ·å°”  1500      5   7500
5   10245 2009-01-26   å¼ é”‹  ååŒ—  çŸ³å®¶åº„   ç¾çš„  1400      2   2800
45  10285 2009-06-06   åˆ˜ç¦  ååŒ—  çŸ³å®¶åº„   æµ·å°”  1500      8  12000
46  10286 2009-06-07   åˆ˜ç¦  ååŒ—  çŸ³å®¶åº„   ç¾çš„  1400      3   4200
47  10287 2009-06-18   å¼ é”‹  ååŒ—  çŸ³å®¶åº„   æ ¼åŠ›  1200      9  10800
48  10288 2009-06-19   å¼ é”‹  ååŒ—  çŸ³å®¶åº„   ç¾çš„  2000      7  14000
49  10289 2009-06-21   å¼ ä¸‰  ååŒ—   åŒ—äº¬   æ¾ä¸‹  2100     10  21000
50  10290 2009-06-23   æå››  ååŒ—   åŒ—äº¬  å¥¥å…‹æ–¯  1200      8   9600)
********************************************************************************
('åå—',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº  åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
6   10246 2009-01-07   ç½—ä¼Š  åå—  å¹¿å·   æ ¼åŠ›  1200      3   3600
7   10247 2009-01-08   ç½—ä¼¦  åå—  å¹¿å·   ç¾çš„  2000      2   4000
8   10248 2009-01-19   æ±¤çº¢  åå—  å¹¿å·   æ¾ä¸‹  2100      4   8400
9   10249 2009-01-20   ç‹ç»´  åå—  å¹¿å·  å¥¥å…‹æ–¯  1200      2   2400
10  10250 2009-02-11   å°èŠ±  åå—  å¦é—¨   æ ¼åŠ›  1200      2   2400
11  10251 2009-02-12   å°ç±³  åå—  å¦é—¨   ç¾çš„  1400      4   5600
12  10252 2009-02-13   ææ˜  åå—  å¦é—¨   æ ¼åŠ›  1200     11  13200
13  10253 2009-02-24   å¼ è™¹  åå—  å¦é—¨   ç¾çš„  2000      8  16000
66  10306 2009-08-12   å°èŠ±  åå—  å¦é—¨   ç¾çš„  1400      8  11200
67  10307 2009-08-13   å°ç±³  åå—  å¦é—¨   æ ¼åŠ›  1200      3   3600
68  10308 2009-08-14   ææ˜  åå—  å¦é—¨   ç¾çš„  2000      3   6000
69  10309 2009-08-15   å¼ è™¹  åå—  å¦é—¨   æ¾ä¸‹  2100     10  21000
70  10310 2009-08-16   å¼ è™¹  åå—  å¦é—¨  å¥¥å…‹æ–¯  1200      6   7200
71  10311 2009-08-27   ç½—ä¼Š  åå—  å¹¿å·   æ ¼åŠ›  1200      4   4800
72  10312 2009-09-10   ç½—ä¼¦  åå—  å¹¿å·   å¿—é«˜  1000      3   3000
73  10313 2009-09-11   æ±¤çº¢  åå—  å¹¿å·   ç¾çš„  1350      4   5400
74  10314 2009-09-12   ç‹ç»´  åå—  å¹¿å·   æ˜¥å…°  1200      5   6000
75  10315 2009-09-13   ç½—ä¼Š  åå—  å¹¿å·   æ¾ä¸‹  1200      2   2400)
********************************************************************************
('è¥¿åŒ—',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº    åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
22  10262 2009-03-23   æ¬§è‰¯  è¥¿åŒ—    å…°å·   æ¾ä¸‹  1200      3   3600
23  10263 2009-03-26   æ›¹å®¹  è¥¿åŒ—    å…°å·   æ¾ä¸‹  1500      2   3000
24  10264 2009-04-05   è’‹è‰³  è¥¿åŒ—    å…°å·   æ˜¥å…°  1500      9  13500
25  10265 2009-04-06   æè¾‰  è¥¿åŒ—    å…°å·   æµ·å°”  1500     11  16500
26  10266 2009-04-09   åˆ˜å¼º  è¥¿åŒ—  ä¹Œé²æœ¨é½   ç¾çš„  1400     12  16800
27  10267 2009-04-11   é¾šæ–¹  è¥¿åŒ—  ä¹Œé²æœ¨é½   æ ¼åŠ›  1200      4   4800
28  10268 2009-04-14   å¼ å¼º  è¥¿åŒ—  ä¹Œé²æœ¨é½   ç¾çš„  2000      3   6000
29  10269 2009-04-17   æ˜“è·¯  è¥¿åŒ—  ä¹Œé²æœ¨é½   æ¾ä¸‹  2100      3   6300
83  10323 2009-10-14   é¾šæ–¹  è¥¿åŒ—  ä¹Œé²æœ¨é½   æ ¼åŠ›  1200      3   3600
84  10324 2009-10-15   å¼ å¼º  è¥¿åŒ—  ä¹Œé²æœ¨é½   å¿—é«˜  1000      4   4000
85  10325 2009-10-16   æ˜“è·¯  è¥¿åŒ—  ä¹Œé²æœ¨é½   æµ·å°”  1500      2   3000
86  10326 2009-10-17   åˆ˜å¼º  è¥¿åŒ—  ä¹Œé²æœ¨é½   æµ·å°”  1400      4   5600
87  10327 2009-10-18   æ›¹å®¹  è¥¿åŒ—    å…°å·   æ ¼åŠ›  1200     10  12000
88  10328 2009-10-19   è’‹è‰³  è¥¿åŒ—    å…°å·  å¥¥å…‹æ–¯  1200      5   6000
89  10329 2009-10-20   æè¾‰  è¥¿åŒ—    å…°å·   æ ¼åŠ›  1200      8   9600
90  10330 2009-10-21   æ¬§è‰¯  è¥¿åŒ—    å…°å·   å¿—é«˜  1000      4   4000)
********************************************************************************
('è¥¿å—',       è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº  åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
14  10254 2009-02-25   ç‹å¨œ  è¥¿å—  æˆéƒ½   æ¾ä¸‹  2100      2   4200
15  10255 2009-02-26   åˆ˜å®‡  è¥¿å—  æˆéƒ½  å¥¥å…‹æ–¯  1200      8   9600
16  10256 2009-03-07   é™ˆç¬‘  è¥¿å—  æˆéƒ½   æ ¼åŠ›  1200      4   4800
17  10257 2009-03-18   ç« æ™“  è¥¿å—  æˆéƒ½   æ¾ä¸‹  1600      9  14400
18  10258 2009-03-29   é½æ˜“  è¥¿å—  æ˜†æ˜  å¥¥å…‹æ–¯  1300      7   9100
19  10259 2009-03-10   æ±ªä¿Š  è¥¿å—  æ˜†æ˜   å¿—é«˜  1000     10  10000
20  10260 2009-03-11   å”æ•  è¥¿å—  æ˜†æ˜   ç¾çš„  1350      8  10800
21  10261 2009-03-12   åˆ˜ç³  è¥¿å—  æ˜†æ˜   æ˜¥å…°  1200      5   6000
91  10331 2009-11-12   ç‹åˆš  è¥¿å—  é‡åº†   æ ¼åŠ›  1200      5   6000
92  10332 2009-11-15   èµµå†›  è¥¿å—  é‡åº†   æ ¼åŠ›  1201      7   8407
93  10333 2009-11-16   å°æ  è¥¿å—  é‡åº†  å¥¥å…‹æ–¯  1500      4   6000
94  10334 2009-11-25   ç‹å¨œ  è¥¿å—  æˆéƒ½  å¥¥å…‹æ–¯  1501      7  10507
95  10335 2009-12-01   åˆ˜å®‡  è¥¿å—  æˆéƒ½   æ ¼åŠ›  1400      2   2800
96  10336 2009-12-12   é™ˆç¬‘  è¥¿å—  æˆéƒ½   å¿—é«˜  1400      9  12600
97  10337 2009-12-23   æ±ªä¿Š  è¥¿å—  æ˜†æ˜   æ˜¥å…°  1200      3   3600
98  10338 2009-12-26   é½æ˜“  è¥¿å—  æ˜†æ˜  å¥¥å…‹æ–¯  1200      5   6000)
********************************************************************************

In [42]:
#å•é”®åˆ†ç»„
data.groupby(by=['åœ°åŒº']).mean()#æ ¹æ®ä¸Šé¢æ¯ä¸€ä¸ªç»„å¯¹å…¶æ±‚å¹³å‡

             è®¢å•å·           å•ä»·     æ•°é‡ï¼ˆå°ï¼‰          é”€å”®é¢
åœ°åŒº
ä¸œåŒ—  10306.500000  1303.642857  5.428571  7150.357143
åä¸œ  10291.000000  1396.875000  5.312500  7096.875000
åä¸­  10273.000000  1471.428571  4.714286  7585.714286
ååŒ—  10265.000000  1462.500000  5.833333  8766.666667
åå—  10283.388889  1452.777778  4.666667  7011.111111
è¥¿åŒ—  10296.000000  1381.250000  5.437500  7393.750000
è¥¿å—  10296.000000  1347.000000  5.937500  7800.875000

In [43]:
#å¤šé”®åˆ†ç»„
data.groupby(by=['åœ°åŒº','åŸå¸‚']).count()

         è®¢å•å·  é”€å”®æ—¥æœŸ  é”€å”®äººå‘˜  å®¶ç”µå“ç‰Œ  å•ä»·  æ•°é‡ï¼ˆå°ï¼‰  é”€å”®é¢
åœ°åŒº åŸå¸‚
ä¸œåŒ— å“ˆå°”æ»¨     7     7     7     7   7      7    7
   æ²ˆé˜³      4     4     4     4   4      4    4
   é•¿æ˜¥      3     3     3     3   3      3    3
åä¸œ ä¸Šæµ·      8     8     8     8   8      8    8
   æ­å·      4     4     4     4   4      4    4
   è‹å·      4     4     4     4   4      4    4
åä¸­ æ­¦æ±‰      4     4     4     4   4      4    4
   é•¿æ²™      3     3     3     3   3      3    3
ååŒ— åŒ—äº¬      6     6     6     6   6      6    6
   çŸ³å®¶åº„     6     6     6     6   6      6    6
åå— å¦é—¨      9     9     9     9   9      9    9
   å¹¿å·      9     9     9     9   9      9    9
è¥¿åŒ— ä¹Œé²æœ¨é½    8     8     8     8   8      8    8
   å…°å·      8     8     8     8   8      8    8
è¥¿å— æˆéƒ½      7     7     7     7   7      7    7
   æ˜†æ˜      6     6     6     6   6      6    6
   é‡åº†      3     3     3     3   3      3    3

In [44]:
#å¤šé”®åˆ†ç»„
data.groupby(by=['åœ°åŒº','åŸå¸‚'])['é”€å”®äººå‘˜','é”€å”®é¢'].count()
#å¯ä»¥æ±‚å„ç§éœ€è¦çš„æ•°æ®å’Œå•Šå¹³å‡å•Šä»€ä¹ˆçš„ï¼Œå¾ˆæ–¹ä¾¿

<ipython-input-44-15d5c1415eda>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(by=['åœ°åŒº','åŸå¸‚'])['é”€å”®äººå‘˜','é”€å”®é¢'].count()

         é”€å”®äººå‘˜  é”€å”®é¢
åœ°åŒº åŸå¸‚
ä¸œåŒ— å“ˆå°”æ»¨      7    7
   æ²ˆé˜³       4    4
   é•¿æ˜¥       3    3
åä¸œ ä¸Šæµ·       8    8
   æ­å·       4    4
   è‹å·       4    4
åä¸­ æ­¦æ±‰       4    4
   é•¿æ²™       3    3
ååŒ— åŒ—äº¬       6    6
   çŸ³å®¶åº„      6    6
åå— å¦é—¨       9    9
   å¹¿å·       9    9
è¥¿åŒ— ä¹Œé²æœ¨é½     8    8
   å…°å·       8    8
è¥¿å— æˆéƒ½       7    7
   æ˜†æ˜       6    6
   é‡åº†       3    3

In [45]:
#å¤šé”®åˆ†ç»„
data.groupby(by=['åœ°åŒº','åŸå¸‚']).agg({'å•ä»·':'mean','é”€å”®é¢':'sum'})
#è¿ç”¨aggå‡½æ•°å¯¹ä¸åŒåˆ—æ±‚ä¸åŒå€¼

                  å•ä»·    é”€å”®é¢
åœ°åŒº åŸå¸‚
ä¸œåŒ— å“ˆå°”æ»¨   1235.714286  43000
   æ²ˆé˜³    1375.250000  27405
   é•¿æ˜¥    1366.666667  29700
åä¸œ ä¸Šæµ·    1418.750000  60950
   æ­å·    1400.000000  21100
   è‹å·    1350.000000  31500
åä¸­ æ­¦æ±‰    1250.000000  12400
   é•¿æ²™    1766.666667  40700
ååŒ— åŒ—äº¬    1425.000000  53900
   çŸ³å®¶åº„   1500.000000  51300
åå— å¦é—¨    1522.222222  86200
   å¹¿å·    1383.333333  40000
è¥¿åŒ— ä¹Œé²æœ¨é½  1475.000000  50100
   å…°å·    1287.500000  68200
è¥¿å— æˆéƒ½    1485.857143  58907
   æ˜†æ˜    1208.333333  45500
   é‡åº†    1300.333333  20407

In [47]:
#å¤šé”®åˆ†ç»„
data.groupby(by=['åœ°åŒº','åŸå¸‚']).agg({'å•ä»·':['mean','count'],'é”€å”®é¢':'sum'})
#ä¿®æ”¹ä¸€ä¸‹å³å¯åŒä¸€åˆ—æ±‚ä¸åŒå€¼

                  å•ä»·          é”€å”®é¢
                mean count    sum
åœ°åŒº åŸå¸‚
ä¸œåŒ— å“ˆå°”æ»¨   1235.714286     7  43000
   æ²ˆé˜³    1375.250000     4  27405
   é•¿æ˜¥    1366.666667     3  29700
åä¸œ ä¸Šæµ·    1418.750000     8  60950
   æ­å·    1400.000000     4  21100
   è‹å·    1350.000000     4  31500
åä¸­ æ­¦æ±‰    1250.000000     4  12400
   é•¿æ²™    1766.666667     3  40700
ååŒ— åŒ—äº¬    1425.000000     6  53900
   çŸ³å®¶åº„   1500.000000     6  51300
åå— å¦é—¨    1522.222222     9  86200
   å¹¿å·    1383.333333     9  40000
è¥¿åŒ— ä¹Œé²æœ¨é½  1475.000000     8  50100
   å…°å·    1287.500000     8  68200
è¥¿å— æˆéƒ½    1485.857143     7  58907
   æ˜†æ˜    1208.333333     6  45500
   é‡åº†    1300.333333     3  20407

In [48]:
def fun(x):
    return max(x)-min(x)

In [49]:
data.groupby(by=['åœ°åŒº'])['é”€å”®é¢'].agg(fun)

åœ°åŒº
ä¸œåŒ—     9900
åä¸œ    15300
åä¸­    20700
ååŒ—    18200
åå—    18600
è¥¿åŒ—    13800
è¥¿å—    11600
Name: é”€å”®é¢, dtype: int64

In [50]:
#åŠ åç¼€
def fun1(x):
    return str(x)+'å…ƒ'

In [51]:
fun1(6)

'6å…ƒ'

In [52]:
data['å•ä»·'].agg(fun1)

0     1200å…ƒ
1     1300å…ƒ
2     1250å…ƒ
3     1500å…ƒ
4     1500å…ƒ
      ...
94    1501å…ƒ
95    1400å…ƒ
96    1400å…ƒ
97    1200å…ƒ
98    1200å…ƒ
Name: å•ä»·, Length: 99, dtype: object

## apply

In [57]:
df1=pd.DataFrame({'sex':list('FFMFMMF'),
                  'smoker':list('YNYYNYY'),
                  'age':[21,30,17,37,40,18,26],
                  'weight':[120,100,132,140,94,89,123]})

In [61]:
def fun2(x):
    return (df1['weight']/df1['age'])**2

In [62]:
fun2(df1)

0    32.653061
1    11.111111
2    60.290657
3    14.317020
4     5.522500
5    24.447531
6    22.380178
dtype: float64

# é€è§†è¡¨

In [63]:
data

      è®¢å•å·       é”€å”®æ—¥æœŸ é”€å”®äººå‘˜  åœ°åŒº   åŸå¸‚ å®¶ç”µå“ç‰Œ    å•ä»·  æ•°é‡ï¼ˆå°ï¼‰    é”€å”®é¢
0   10240 2009-01-02   å¼ ä¸‰  ååŒ—   åŒ—äº¬  å¥¥å…‹æ–¯  1200      4   4800
1   10241 2009-01-03   æå››  ååŒ—   åŒ—äº¬   æ ¼åŠ›  1300      5   6500
2   10242 2009-01-13   é’±äº”  ååŒ—   åŒ—äº¬   ç¾çš„  1250      6   7500
3   10243 2009-01-14   èµµå…­  ååŒ—   åŒ—äº¬   æ˜¥å…°  1500      3   4500
4   10244 2009-01-25   åˆ˜ç¦  ååŒ—  çŸ³å®¶åº„   æµ·å°”  1500      5   7500
..    ...        ...  ...  ..  ...  ...   ...    ...    ...
94  10334 2009-11-25   ç‹å¨œ  è¥¿å—   æˆéƒ½  å¥¥å…‹æ–¯  1501      7  10507
95  10335 2009-12-01   åˆ˜å®‡  è¥¿å—   æˆéƒ½   æ ¼åŠ›  1400      2   2800
96  10336 2009-12-12   é™ˆç¬‘  è¥¿å—   æˆéƒ½   å¿—é«˜  1400      9  12600
97  10337 2009-12-23   æ±ªä¿Š  è¥¿å—   æ˜†æ˜   æ˜¥å…°  1200      3   3600
98  10338 2009-12-26   é½æ˜“  è¥¿å—   æ˜†æ˜  å¥¥å…‹æ–¯  1200      5   6000

[99 rows x 9 columns]

In [73]:
pd.pivot_table(data,
                index='åœ°åŒº',
                columns='å®¶ç”µå“ç‰Œ',
                values='é”€å”®é¢',
                aggfunc='sum',
                fill_value=0)

å®¶ç”µå“ç‰Œ    å¥¥å…‹æ–¯     å¿—é«˜     æ˜¥å…°     æ¾ä¸‹     æ ¼åŠ›     æµ·å°”     ç¾çš„
åœ°åŒº
ä¸œåŒ—    19200  17600  11100  13500  13500   9000  16205
åä¸œ    10000   2000  15300  29400  34800   4500  17550
åä¸­    12000      0      0  23100   7200      0  10800
ååŒ—    14400      0   4500  21000  17300  19500  28500
åå—     9600   3000   6000  31800  27600      0  48200
è¥¿åŒ—     6000   8000  13500  12900  30000  25100  22800
è¥¿å—    41207  22600   9600  18600  22007      0  10800

In [74]:
#è®¡ç®—ä¸åŒåœ°åŒºï¼Œä¸åŒå“ç‰Œï¼Œç©ºè°ƒå¹³å‡å•ä»·

In [75]:
pd.pivot_table(data,
              index='åœ°åŒº',
              columns='å®¶ç”µå“ç‰Œ',
              values='å•ä»·',
              aggfunc='mean',
              fill_value=0)

å®¶ç”µå“ç‰Œ     å¥¥å…‹æ–¯    å¿—é«˜    æ˜¥å…°    æ¾ä¸‹       æ ¼åŠ›           æµ·å°”           ç¾çš„
åœ°åŒº
ä¸œåŒ—    1200.0  1200  1350  1500  1250.00  1500.000000  1350.333333
åä¸œ    1250.0  1000  1400  1600  1200.00  1500.000000  1583.333333
åä¸­    1200.0     0     0  2100  1200.00     0.000000  1700.000000
ååŒ—    1200.0     0  1500  2100  1250.00  1500.000000  1512.500000
åå—    1200.0  1000  1200  1800  1200.00     0.000000  1691.666667
è¥¿åŒ—    1200.0  1000  1500  1600  1200.00  1466.666667  1700.000000
è¥¿å—    1340.2  1200  1200  1850  1250.25     0.000000  1350.000000